body {
  font-family: Arial;
  background: #0f172a;
  color: white;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 700px;
  margin: auto;
  text-align: center;
  padding: 100px 20px;
}

h1 {
  font-size: 48px;
}

p {
  font-size: 20px;
  margin-top: 20px;
}

.button {
  display: inline-block;
  margin-top: 30px;
  background: #2563eb;
  color: white;
  padding: 15px 25px;
  text-decoration: none;
  border-radius: 10px;
}

.links {
  margin-top: 50px;
}

.links a {
  color: #93c5fd;
  margin: 0 10px;
}